@using AdventureBUS.Serivces.Interface
@using MudBlazor
@inject IParticipantInteractionService ParticipantInteractionService

<MudDialog>
    <DialogContent>
        <p>Bạn có chắc muốn xóa tương tác này?</p>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" OnClick="Delete">Xóa</MudButton>
        <MudButton OnClick="Cancel">Hủy</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public int InteractionId { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private async Task Delete()
    {
        await ParticipantInteractionService.DeleteInteractionAsync(InteractionId);
        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
