@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

<MudLayout>
    <!-- Sidebar -->
    <MudDrawer Elevation="1" Open="true" Variant="DrawerVariant.Mini" Class="mud-theme-secondary">
        <NavMenu />
    </MudDrawer>

    <!-- Main Content -->
    <MudMainContent>
        <!-- Header -->
        <MudAppBar Position="AppBarPosition.Top" Elevation="1" Color="Color.Primary">
            <MudText Typo="Typo.h6" Class="pl-4">GymManagerBlazorAPI</MudText>
            <MudSpacer />
            <MudButton Target="_blank" Href="https://learn.microsoft.com/aspnet/core/" Color="Color.Inherit">
                About
            </MudButton>
        </MudAppBar>

        <!-- Content Body -->
        <div class="content px-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

