@using AdventureBUS.Serivces.Interface
@using MudBlazor
@inject IAdventureService AdventureService

<MudDialog>
    <DialogContent>
        <p>Bạn có chắc muốn xóa chuyến phiêu lưu này?</p>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" OnClick="Delete">Xóa</MudButton>
        <MudButton OnClick="Cancel">Hủy</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public int AdventureId { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private async Task Delete()
    {
        await AdventureService.DeleteAdventureAsync(AdventureId);
        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}
